@import "compass/reset";
@import "compass/css3";
@import "./lib/_type.scss";
@import "./lib/_grid.scss";

// @mixin keyframes($name) {
//   @-webkit-keyframes #{$name} {
//     @content; 
//   }
//   @-moz-keyframes #{$name} {
//     @content;
//   }
//   @-ms-keyframes #{$name} {
//     @content;
//   }
//   @keyframes #{$name} {
//     @content;
//   } 
// }

body {
    background-image: url('./images/bg.jpg');
    height: 100%;
    width: 100%;
}

header {
    h1 {
        @include small-caps(1em);
        font-family: $demi;
        padding-bottom: 1em;
    }
}

nav {
    @include small-caps;
    
    ul {
        list-style: none;
        
        li {
            display: inline-block;
            
            a {
                padding: .25rem 0;
                top: -.25rem;
                margin-right: 2rem;
                @include small-caps(1em);
                font-family: $bold;
                position: relative;
                
                &.current {
                    border-bottom: 4pt solid $default-color;
                }
            }
        }
    }
    
    .profile-picture {
        height: 4em;
        width:  4em;
        border-radius: 50%;
        position: absolute;
        top: 1em;;
        right: $gutter;
    }
}

.profile {
    // margin: 10em auto 0 auto;
    // background-image: url('../images/habits/profile-habit.png');
    // height: 50em;
    // width: 80em;
    // background-size: 80em 50em;
    
    // @include keyframes(bgcolor) {
    //   0% {
    //     @include transform(rotate(0deg));
    //   }
    //   100% {
    //     @include transform(rotate(270deg));
    //   } 
    // }
    // 
    // display: block;
    // 
    // @-webkit-keyframes profile-spin {
    //     0% {
    //         @include rotateZ(0deg);
    //         // background-color: red;
    //     }
    //     
    //     100% {
    //         @include rotateZ(270deg);
    //         // background-color: blue;
    //     }
    // }
    
    // -webkit-animation: profile-spin 10s infinite;
    .habit {
                
        > h1 {
            text-transform: lowercase;
            position: relative;
            left: 0;
            top: 0;
            display: block;
            position: absolute;
            background-size: auto 100%;
            background-repeat: no-repeat;
            @include transition-duration(.5s);
            @include transition-property(all);
            @include transition-delay(0);
            @include transition-timing-function(ease-out);
        }
        
        .detail {
            display: none;
        }
        
        &.run {
            > h1 {
                top: 15%;
                left: 10%;
                height:75%;
                width: 75%;
                background-image: url('../images/habits/run.png');
            }
        }
        
        &.smoke {
            > h1 {
                top: 30%;
                left: 70%;
                height: 30%;
                width: 30%;
                background-image: url('../images/habits/smoke.png');
            }
        }
        
        &.eat {
            > h1 {
                top: 30%;
                left: 30%;
                height: 30%;
                width: 30%;
                background-image: url('../images/habits/eat.png');
            }
        }
        
        &.read {
            > h1 {
                top: 20%;
                left: 40%;
                height: 30%;
                width: 30%;
                background-image: url('../images/habits/read.png');   
            }
        }
        
        &.meditation {
            > h1 {
                top: 40%;
                left: 40%;
                height: 30em;
                width: 30em;
                background-image: url('../images/habits/meditation.png');                
            }
        }
        
        &.open {
            // left: $gutter;
            height: 100%;
            width: 100%;
            
            > h1 {
                font-family: $bold;
                left: 0;
                // color: white;
                // top: 50%;
                // left: $col;
                // font-size: 2em;
            }
            
            .detail {
                display: block;
                position: relative;
                left: $col2;
                
                h1 {
                    @include small-caps(.75em);
                    font-family: $demi;
                }
                
                .line-graph {
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: blue;
                    height: 6em;
                }
                
                .settings {
                    form {
                        ul {
                            li {
                                // &:after {
                                //     content: "›";
                                // }
                            }
                        }
                    }
                }
            }
        }
        
        &.closed {
            > h1 {
                @include transform(scale(.25));
                opacity: .25;
                top: -2em !important;
                -webkit-filter: blur(20px);
            }
        }
    }
}