@import "compass/reset";
@import "./lib/_type.scss";
@import "./lib/_grid.scss";

header {
    h1 {
        @include small-caps(1em);
        font-family: $demi;
        padding-bottom: 1em;
    }
}

nav {
    @include small-caps;
    
    ul {
        list-style: none;
        
        li {
            display: inline-block;
            
            a {
                padding: .25rem 0;
                top: -.25rem;
                margin-right: 2rem;
                @include small-caps(1em);
                font-family: $bold;
                position: relative;
                
                &.current {
                    border-bottom: 4pt solid $default-color;
                }
            }
        }
    }
    
    .profile-picture {
        height: 4em;
        width:  4em;
        border-radius: 50%;
        position: absolute;
        top: 1em;;
        right: $gutter;
    }
}