@import "compass/reset";
@import "./lib/_type.scss";
@import "./lib/_grid.scss";

nav {
    @include small-caps;
    
    ul {
        list-style: none;
        
        li {
            display: inline-block;
            
            a {
                padding: .5em 0;
                margin-right: .5em;
                font-size: 2em;
                
                &.current {
                    border-bottom: 4pt solid $default-color;
                }
            }
        }
    }
}